@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

* {
	margin:auto;
}

body {
	background-color: #EEEEEE;
}
h1, #list{
	font-family: Lato;
	font-size: 70px;
	color: #fff;
	height: 80px;
	text-align: center;
	letter-spacing: 10px;
}

#list {
	font-size: 40px;
  padding-top: 100px;
}

h1 {
	padding-top: 25px;
}

.header {
		padding-top: 15px;
  	background: url('https://s3-us-west-1.amazonaws.com/portfoliogabot/mono.png');
	 background-position: center;
	 background-repeat: no-repeat;
	 height: 720px;
}

.color {
	height:720px;
}
.summary {
text-align:left;
font-size: 1.5em;
margin: 0 auto;
max-width: 40em;
padding-bottom: 50px;
}

a {
	text-decoration: none;
	margin-right: 30px;
	transition: ease 0.2s;
}

a:hover {
	text-decoration: none;
}

.classification {
	display: inline-block;
}

h2 {
	text-align: center;
	font-family: Lato;
	font-size: 30px;
		margin: -1.3px 0px 0px	 0px;
		padding: 100px 0px 20px 0px;
}

h3 {
	text-align: center;
	font-family: Lato;
	font-size: 30px;
}

.info {
	border-radius:3px;
	visibility: hidden;
	padding-top:15px;
	background-color:white;
}


.info2 {
	border-radius:3px;
	visibility: hidden;
	padding: 15px 0px 20px 0px;
	background-color:white;
}


#Projects {
	background-color:#F27935;
}

div.col-md-4:hover .info2 {
	visibility: visible;
}

.listings {
	padding-top:20px;
}

.about {
	font-family: Lato;
	/*color:white;*/
	/*height:500px;*/
	padding: 100px 0px 0px 0px;
}

/* project height */
html, body {
	height:100%;
}

body > .Projects {
	/*height:700px;*/
	position: relative;
}
.Projects {
	text-align: center;
	background-color:#F27935;

}

}
body > #Skills {
	height: 700px;
	background-color:#EEEEEE;
}

#contact{
background-color:#F27935;
}
.thumbnail {
	height: 30%;
	width:30%;
}

i.material-icons {
	font-size: 5rem;
}

#github {
	height:45px;
}

#linkedin {
	height:50px;
}

#linkedin:hover{
transform: scale(1.3);
cursor: pointer;


}

#github:hover{
transform: scale(1.3);


}

.proj {
	background-color:white;
	border-radius:3px;
	padding:7px;
}



div.col-md-4:hover .info {
	visibility: visible;
}

.col-md-12 {
		padding:10px 0px 50px 0px;
		background-color:#F27935;
		margin:-10px 0px 0px 0px;
}
span {
	margin:10px;
}

//testing flower rotate
@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(180deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

#Layer_1 {
transform-origin: 203px 204px;
transform: rotate(10deg);
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #17d0d5;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

.Comp {
	/*width: 700px;
	height: 400px;*/
	width: 100%
	/*vertical-align: middle;*/
	margin-bottom: 0.75 em;
	-webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}

.Comp:hover{
	cursor: pointer;
}

.text1 {
	padding-left: 100px;
}

.text2 {
	margin-bottom: 0;
}

#rpg div {
	float: right
	display: inline-block;
	vertical-align: middle;
	padding: 0;

}

.h {
	font-size: 20px;
}

#pgraph {
	float: right;
	align: right;
	/*padding-bottom: 50px;*/
	border: 10px black solid;
}

.para {
	margin-top: 30px;
	/*float: right;*/
}

/* testing waypoints */
.section {
	padding-top: 1000px;
}

.os-animation {
	opacity:0;
}

.os-animation.animated{
	opacity: 1;
}

.PJCT {
	margin-top: 100px;

}

.ppgraph {
	margin: 0px 100px 0px 100px;
}

#mail {
	height:55px;
}

#mail:hover {
	transform: scale(1.3);
	cursor: pointer;
}

.proj-para {
	background-color: white;
	border-radius: 5px;
}


#proj_saku .st2 {
	opacity: 0;
}

#proj_saku:hover .st2{
	opacity: 1;
}

#proj_saku:hover .st5{
	opacity: 1;
}

#proj_saku #black{
-webkit-transition: all 0.75s ease-out;
 -moz-transition: all 0.75s ease-out;
 -o-transition: all 0.75s ease-out;
 -ms-transition: all 0.75s ease-out;
 transition: all 0.75s ease-out;
}

#proj_saku:hover #black{
	opacity: 0.60;
	-webkit-transition: all 0.75s ease-in;
	 -moz-transition: all 0.75s ease-in;
	 -o-transition: all 0.75s ease-in;
	 -ms-transition: all 0.75s ease-in;
	 transition: all 0.75s ease-in;
}

#black {
	opacity: 0;
}

#proj_saku:hover .st1 {
	fill:#e8ff71;
}

.row {
	margin-right: 0px;
}

img#profile {
	display: block;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border-radius: 50%;
	width: 300px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ddd;
    color: white;
    text-decoration: none;
    margin: 50px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center
}

.btn:hover {
    background: purple;
    color: #fff;
}

#project-body {
	background: orange;
}

.proj-title {
	font-size: 50px;
}
hr {
	width: 20em;
	border-top: 1px solid black;
}
/*img.panel {
	width: 400px;
}*/

figure.snip1205 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 40px 1%;
	margin-left: 200px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1205 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip1205 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1205 i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
figure.snip1205 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1205.green {
  background-color: #229955
}
figure.snip1205.gray {
  background-color: #7F7F7F
}
figure.snip1205.gold {
  background-color: #BFAD59
}
figure.snip1205.pink {
  background-color: #E5B8D3
}
figure.snip1205:hover img,
figure.snip1205.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1205:hover i,
figure.snip1205.hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.proj-description {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 75%;
	left: 20%;
	opacity: 0;
}
figure.snip1205:hover .proj-description {
	opacity: 1;
}

.resume-info {
	margin-left: 50px;
}

#bg-logo {
	display: block;
	margin-top: 70px;
}
