@import url(http://fonts.googleapis.com/css?family=Lato:700);

* {
	margin:auto;
}

body {
	background-color: #EEEEEE;
}
h1, #list{
	font-family: Lato;
	font-size: 70px;
	color: #fff;
	height: 80px;
	text-align: center;
	letter-spacing: 10px;
}

#list {
	font-size: 40px;
  padding-top: 150px;
}

h1 {
	padding-top: 100px;
}

.header {
		padding-top: 15px;
  	background: url('https://s3-us-west-1.amazonaws.com/portfoliogabot/mono.png');
	 background-position: center;
	 background-repeat: no-repeat;
	 height: 720px;
}

.color {
	height:720px;
}
.summary {
text-align:center;
font-size: 20px;
margin: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
	transition: ease 0.2s;
}

a:hover {
	text-decoration: none;
}

li {
	display: inline-block;
}

h2 {
	text-align: center;
	font-family: Lato;
	font-size: 30px;
		margin: -1.3px 0px 0px	 0px;
		padding: 100px 0px 20px 0px;
}

h3 {
	text-align: center;
	font-family: Lato;
		font-size: 30px;
}

.info {
	border-radius:3px;
	visibility: hidden;
	padding-top:15px;
	background-color:white;
}


.info2 {
	border-radius:3px;
	visibility: hidden;
	padding: 15px 0px 20px 0px;
	background-color:white;
}


#Projects {
	background-color:#F27935;
}

div.col-md-4:hover .info2 {
	visibility: visible;
}

.listings {
	padding-top:20px;
}

.about {
	font-family: Lato;
	background-color: rgba(0,0,0,0.5);
	color:#ECECEC;
	height:500px;
	padding: 100px 0px 0px 0px;
}

/* project height */
html, body {
	height:100%;
}

body > .Projects {
	height:700px;
	position: relative;
}
.Projects {
	text-align: center;
	background-color:#F27935;

}

}
body > #Skills {
	height: 700px;
	background-color:#EEEEEE;
}

#contact{
background-color:#F27935;
}
.thumbnail {
	height: 30%;
	width:30%;
}

i.material-icons {
	font-size: 5rem;
}

#github {
	height:45px;
}

#linkedin {
	height:50px;
}

#linkedin:hover{
transform: scale(1.3);
cursor: pointer;


}

#github:hover{
transform: scale(1.3);


}

.proj {
	background-color:white;
	border-radius:3px;
	padding:7px;
}



div.col-md-4:hover .info {
	visibility: visible;
}

.col-md-12 {
		padding:10px 0px 50px 0px;
		background-color:#F27935;
		margin:-10px 0px 0px 0px;
}
span {
	margin:10px;
}

//testing flower rotate
@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(180deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

#Layer_1 {
transform-origin: 203px 204px;
transform: rotate(10deg);
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #17d0d5;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

.Comp {
	width: 700px;
	height: 400px;
	/*vertical-align: middle;*/
	margin-bottom: 0.75 em;
	-webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}

.text1 {
	padding-left: 100px;
}
.text2 {
	margin-bottom: 0;
}

#rpg div {
	float: right
	display: inline-block;
	vertical-align: middle;
	padding: 0;

}

.h {
	font-size: 20px;
}

#pgraph {
	float: right;
	align: right;
	/*padding-bottom: 50px;*/
	border: 10px black solid;
}

.para {
	margin-top: 30px;
	/*float: right;*/
}

/* testing waypoints */
.section {
	padding-top: 1000px;
}

.os-animation {
	opacity:0;
}

.os-animation.animated{
	opacity: 1;
}

.PJCT {
	margin-top: 100px;

}

.ppgraph {
	margin: 0px 100px 0px 100px;
}

#mail {
	height:55px;
}

#mail:hover {
	transform: scale(1.3);
	cursor: pointer;
}
